@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rbg(--foreground-rgb);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

.custom-shape-divider-bottom-1671660728 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671660728 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 178px;
}

.custom-shape-divider-bottom-1671660728 .shape-fill {
  fill: #24305E;
}

.about {
  height: 600px;
  background-color: #24305E;
  position: relative;
  top: -1px;
}

.custom-shape-divider-bottom-1671660860 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671660860 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 104px;
}

.custom-shape-divider-bottom-1671660860 .shape-fill {
  fill: #EAE7DC;
}

.projects {
  height: 650px;
  background-color: #EAE7DC;
  position: relative;
  top: -130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-shape-divider-bottom-1671661223 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1671661223 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 263px;
}

.custom-shape-divider-bottom-1671661223 .shape-fill {
  fill: #FFFFFF;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #1f656a;
}


@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}


.container {
  display: grid;
  place-items: center;  
  text-align: center;
  height: auto;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 30px;
  text-transform: uppercase;
}

.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 510px;
}

.slideshow {
  width: 1000px;
}

.contact {
  background-color: #fff;
  height: 1000px;
}

.custom-shape-divider-top-1671685247 {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1671685247 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1671685247 .shape-fill {
  fill: #EAE7DC;
}
